@use "./modules/vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: vars.$background-body;
}

html {
  font-size: 62.5%;
}

header {
  margin: 5rem;
  width: 50%;
  padding: 0.5rem;

  .article {
    border: vars.$border;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 2rem;
    padding: 2rem;

    img {
      max-width: 20vw;
    }

    h2 {
      font-size: 1.5rem;
      padding: 1.5rem 0;
      text-decoration-line: underline;
    }

    span {
      font-size: 1.2rem;
      font-weight: bold;
      padding: 1.5rem 0;
    }
  }
}